table {
  width: 100%;
}

table th,
td {
  font-size: 12px;
  border-bottom: 1px solid #bbbbbb;
  padding: 5px 10px;
  min-height: 40px;
  height: 47px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px dotted #c7c7c7;
  box-sizing: border-box;
}

table th {
  position: sticky;
  align-items: center;
  background-color: #eceef1 !important;
  z-index: 100;
  height: 34px !important;
  padding: 0 10px;
  top: 0;
}

table tr:hover {
  background-color: #f8f8f8 !important;
}

table tr {
  background-color: #ffffff;
}

.sticky-column {
  background-color: inherit;
  position: sticky;
  z-index: 101;
  left: 16px;
}

.sticky-column-th {
  z-index: 102 !important;
}

.sticky-column-right {
  background-color: inherit;
  position: sticky;
  z-index: 101;
  right: 46px;
  border-left: 1px dotted #c7c7c7;
  color: #0075c0;
  align-items: center;
}

.blue-dropdown {
  width: 18px;
  height: 20px;
  padding: 0 5px;
  margin-left: 8px;
}

.outer-column {
  min-width: 16px;
  max-width: 16px;
  width: 16px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
  position: sticky;
  z-index: 1001;
}

.special-column {
  min-width: 30px;
  max-width: 30px;
  width: 30px;
  border: none;
  padding: 0;
  margin: 0;
  position: sticky;
  z-index: 1001;
}

.width-143 {
  width: 143px;
  min-width: 143px;
}

.width-250 {
  width: 250px;
  min-width: 250px;
}

.width-105 {
  width: 105px;
  min-width: 105px;
}

.width-150 {
  width: 150px;
  min-width: 150px;
}

.width-200 {
  width: 200px;
  min-width: 200px;
}

.width-120 {
  width: 120px;
  min-width: 120px;
}

.width-40 {
  width: 40px !important;
  min-width: 40px !important;
}
